*{
	box-sizing: border-box;
}

.row::after{
	content:"";
	clear:both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	width: 20%;
}



._pointer{
	cursor: pointer;
}

